@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@200;300&family=Josefin+Sans:wght@100&family=Kanit:ital,wght@1,300;1,400&family=Kdam+Thmor+Pro&family=Roboto+Mono:ital,wght@1,500&display=swap');

.calcApp {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 90vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
  background-color: rgba(255, 255, 255, 0.75);
}

.fullcalc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p {
  font-size: 40px;
  font-family: 'Roboto Mono', monospace;
}

.calcApp > button {
  cursor: pointer;
  outline: none;
  border: 1px solid white;
}

.operand {
  background-color: orange;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  background-color: grey;
  flex-direction: column;
  color: white;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
