@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@200;300&family=Josefin+Sans:wght@100&family=Kanit:ital,wght@1,300;1,400&family=Kdam+Thmor+Pro&family=Roboto+Mono:ital,wght@1,500&display=swap');

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: orange;
}

nav h2 {
  margin-right: 50%;
  font-family: 'Roboto Mono', monospace;
}

a {
  padding-top: 20px;
  text-decoration: none;
  color: gray;
}
